// Mist Colors
$mistColor1: rgba(255, 255, 255, .1);
$mistColor2: rgba(255, 255, 255, 0);

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  font-family: var(--primary-font);
}

a {
  color: var(--white);
}

img {
  max-width: 100%;;
  max-height: 100%;;
}

.container {
  max-width: 1800px;
  margin: 0 auto calc(var(--rhythm) * 20);
  padding: var(--padding);
}

.section-heading {
  position: relative;
  width: fit-content;
  margin-bottom: calc(var(--rhythm) * 10);
}

.mist {
  background-size: 200%;
  background-position: 0 50%;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;
  left: 0;
}

.mist1 {
  background: repeating-linear-gradient(90deg, $mistColor2, $mistColor1, $mistColor2);
  animation: layer1 20s linear infinite alternate;
}

.mist2 {
  background: repeating-linear-gradient(90deg, $mistColor2, $mistColor1, $mistColor2);
  animation: layer2 30s linear infinite alternate;
}

@include mq(medium) {
  .container {
    padding-left: calc(var(--padding) * 3);
    padding-right: calc(var(--padding) * 3);
  }
}

@keyframes layer1 {
  0% {
    background-position: 1000px 0;
  }
  50% {
    background-position: 500px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes layer2 {
  0% {
    background-position: 0 0%;
  }
  50% {
    background-position: 500px 0%;
  }
  100% {
    background-position: 1000px 0;
  }
}