body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--primary-font);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--padding);
}


@include mq(medium) {
  .container {
    padding: calc(var(--padding) * 3);
  }
}