$font-path: '/assets/fonts';

@font-face {
  font-family: 'noto_sans';
  src: url('#{$font-path}/notosans-bold-webfont.eot');
  src:
    url('#{$font-path}/notosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/notosans-bold-webfont.woff2') format('woff2'),
    url('#{$font-path}/notosans-bold-webfont.woff') format('woff'),
    url('#{$font-path}/notosans-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url('#{$font-path}/notosans-regular-webfont.eot');
  src:
    url('#{$font-path}/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/notosans-regular-webfont.woff2') format('woff2'),
    url('#{$font-path}/notosans-regular-webfont.woff') format('woff'),
    url('#{$font-path}/notosans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url('#{$font-path}/notosans-medium-webfont.eot');
  src:
    url('#{$font-path}/notosans-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/notosans-medium-webfont.ttf') format('truetype'),
    url('#{$font-path}/notosans-medium-webfont.woff') format('woff'),
    url('#{$font-path}/notosans-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}