@mixin angle($location, $angle, $hieght) {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: #{$hieght}px;
  background-color: var(--body-color);
  transform: rotate(#{$angle}deg);

  @if $location == top {
    top: 0;
  }
  @else if $location == bottom {
    bottom: 0
  }

}
