.client-list {
  list-style: none;
  column-count: 4;


  li {
    margin-bottom: 1em;

    a {
      font-weight: var(--weight-bold);
      font-size: var(--h5-font-size);
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
