@import '../../../node_modules/sass-flex-grid/index.scss';

.client-list {
  list-style: none;
  column-count: 1;


  li {
    margin-bottom: 1em;

    a {
      font-weight: var(--weight-bold);
      font-size: var(--h5-font-size);
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

@include mq(small) {
  .client-list {
    column-count: 2;
  }
}

@include mq(medium) {
  .client-list {
    column-count: 3;
  }
}

@include mq(large) {
  .client-list {
    column-count: 4;
  }
}

