<div class="content blog">
  <div class="wrapper">

    <a href="#!/" class="close">Close</a>

    <h2>Responsive Javascript</h2>
    <h3>12-8-2014</h3>

    <article class="blog-post">
      <div class="post-date">12-8-2014</div>

      <div class="article-inner">

        <h4>The Goal</h4>
        <p>
          To make our JS respond appropriately to our content and the user's browser and font size.
        </p>

        <h4>Why?</h4>
        <p>This is not only valuable these days but I would argue absolutely necessary. We have learned, with responsive web design, that we should make our content and layouts flexible for any screen size and resolution, it is time for our JS to do the same. Not only does this solution allow for you to call different JS at different screen sizes but it also allows you to fire that same JS when the user zooms their browser in and out and even when the change their default font size!</p>
        <p>This becomes extremely crucial for accessibility. We cannot assume that users are viewing our sites in the perfect Photoshop world we had originally designed for. We need to allow for our sites to be flexible enough to be easily accessible and readable for everyone.</p>

        <h4>Demo</h4>
        <a href="blog_demos/responsive_js/index.html" target="_blank">View Demo</a>

        <h4>How To:</h4>
        <p>The first place to start is with the media query.</p>
        <p>In order for our content to be flexible we should define our media queries in ems. This allows our layouts to respond appropriately based on browser settings that may overwrite our intended viewing.</p>
        <p>The easiest way to do this is to divide our intended breakpoint (in pixels) by 16(browser default font size). This will give you the appropriate em values.</p>
        <!-- Code -->
        <div hljs>
          <!-- 768 / 16 -->
          @media only screen and (min-width: 48em) {/*CSS*/}

        </div>
        <!-- End Code -->
        <p>We will want to define a different media query for each dimmension we want to fire new JS functions.</p>
        <p>For more on this see: <a href="http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/" target="_blank">The EMs have it: Proportional Media Queries FTW!</a>
        <hr/>
        <br/>

        <p>Next, comes the beacon (for lack of a better term).</p>
        <!-- Code -->
        <div hljs>
          <div class="beacon"></div>
        </div>
        <!-- End Code -->
        <p>This allows our JS to have insight into what is happening in our css and and then we can call the related functions.</p>
        <hr/>
        <br/>

        <p>We give this beacon a width property in our css that corresponds to it’s default pixel based screen size at each breakpoint.</p>
        <p>Note: You could really look up any valid css property here. I went with width as it seemed the most semantic, extendable, and cross browser compatible.</p>
        <!-- Code -->
        <div hljs>
          .beacon {
            display: none;
            width: 0px;
          }

          /* Medium screen styles */
          @media only screen and (min-width: 48em) {
            .beacon {
              width: 768px;
            }
          }

          /* Large screen styles */
          @media only screen and (min-width: 64em) {
            .beacon {
              width: 1024px;
            }
          }
        </div>
        <!-- End Code -->
        <p>We also add "display: none;" to the beacon, since we do not need it displayed in our actual content.</p>
        <hr/>
        <br/>

        <p>After that, it is time to write the JS to read these css content values and only fire the correct JS when the content types match and change (only when they change).</p>
        <!-- Code -->
        <div hljs>
          var App = window.App || {

            beacon: $('.beacon').css('width'),

            // Store the beacon Value
            lastBeacon: this.beacon,

            init: function () {
              // Fire the initial functions for first screen size
              this.getBeacon(this.beacon);
            },

            resize: function () {
              var newBeacon = $('.beacon').css('width');

              // If the screen size has changed fire the functions for the new screen size
              if (this.lastBeacon !== newBeacon) {
                this.lastBeacon = newBeacon;
                this.getBeacon(newBeacon);
              }
            },

            getBeacon: function(beacon) {
              switch(beacon) {
                case "0px":
                  this.smallStuff();
                  break;
                case "768px":
                  this.mediumStuff();
                  break;
                case "1024px":
                  this.largeStuff();
                  break;
                default:
                  console.log('Error: No beacon match found');
              }
            },

            smallStuff: function() {
              $('body').css('background-color', 'red');
              $('.size').text('Default (small) function fired');
            },

            mediumStuff: function() {
              $('body').css('background-color', 'blue');
              $('.size').text('Medium function fired');

            },

            largeStuff: function() {
              $('body').css('background-color', 'green');
              $('.size').text('Large function fired');

            }

          };

          $().ready(function () {
            App.init();
          });

          $(window).resize(function () {
            App.resize();
          });
        </div>
        <!-- End Code -->

        <p>Responsive JS Party Time!</p>

      </div>

      <p class="signature">
        <a href="https://twitter.com/busypixels" target="_blank">
          -busyPixels
        </a>
      </p>

    </article>

    <dir-disqus class="custom-disqus" disqus-shortname="ashtonharris"
       disqus-identifier="{{ identifier }}"
       disqus-url="{{ url }}"
       ready-to-bind="{{ contentLoaded }}" >
    </dir-disqus>

  </div>
</div>
