/* Default small screen styles */

h1{
  color: #fff;
  text-align: center;
}

h2, h3 {
  color: rgba(255,255,255, .9);
  text-align: center;
}

.beacon {
  content: 'small';
  display: none;
}

/* Medium screen styles */
@media only screen and (min-width: 48em) {
  .beacon {
    content: 'medium';
  }
}

/* Large screen styles */
@media only screen and (min-width: 64em) {
  .beacon {
    content: 'large';
  }
}