@import '../../../node_modules/sass-flex-grid/index.scss';
@import '../../global/styles/mixins';
@import '../../global/styles/typography';
@import '../../../node_modules/prismjs/themes/prism.css';

:host {
  display: block;
}

.blog-container-wrapper {
  background-color: var(--white);
  padding: calc(var(--padding) * 4);
  margin-top: calc(var(--rhythm) * 12 * -1);
  color: var(--grey-900);
  border-radius: var(--radius);


  h2 {
    @include h2;

    color: var(--grey-900);
    margin-top: calc(var(--rhythm) * 10);

  }

  p {
    @include body;

    color: var(--grey-900);

    text-indent: calc(var(--padding) * 2);
  }

  .date {
    color: var(--subtext-color);
    display: block;
    text-align: right;
  }


  a {
    color: var(--link-color);

    &:hover {
      color: color-mix(in srgb,var(--link-color),#000 15%);
    }
  }
}

code {
  background-color: #f5f2f0;
  color: #DD4A68;
  font-size: var(--subtitle-font-size);
  padding: 2px;
}

.blog-container {
  max-width: 968px;
  margin: 0 auto;
}

.image-wrapper {
  margin: 0 auto;
  text-align: center;

  img{
    border-radius: calc(var(--radius) * 5);
    max-width: 100%;
    max-height: 500px;
  }
}
