/* Default small screen styles */

h1{
  color: #fff;
  text-align: center;
}

h2, h3 {
  color: rgba(255,255,255, .9);
  text-align: center;
}

.beacon {
  display: none;
  width: 0px;
}

/* Medium screen styles */
@media only screen and (min-width: 48em) {
  .beacon {
    width: 768px;
  }
}

/* Large screen styles */
@media only screen and (min-width: 64em) {
  .beacon {
    width: 1024px;
  }
}