.work-thumb-col {
  &:nth-child(even) {
    position: relative;
    top: -300px;
  }
}

.work-thumb-wrap {
  position: relative;

  img {
    transition: all var(--ease-in-out-fast);
    filter: grayscale(100%) contrast(50%);
    opacity: .5;
  }

  &:hover,
  &:focus,
  &:active {
    img {
      filter: none;
      opacity: 1;
    }
  }
}

.work-title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1em;
  background-color: rgba(0,0,0, .5);
  text-decoration: none;
  transform: skewY(-1.5deg);
}