.work-thumb-wrap {
  // max-width: 600px;
  // max-height: 600px;

  &:nth-child(even) {
    margin-top: -300px;
  }

  img {
    transition: all var(--ease-in-out-fast);
    filter: grayscale(100%) contrast(50%);
    opacity: .5;
  }

  &:hover,
  &:focus,
  &:active {
    img {
      filter: none;
      opacity: 1;
    }
  }

}
