.resume
  cf()
  li
    +above(768px)
      col(1/2)

.type
  color flat-green-2
  font-family header-font

.epam-hackathon
  box-shadow inset 0px 0px 0px 5px #004c8a
  img
    max-height 80%

.gdi
  box-shadow inset 0px 0px 0px 5px pink

.hotel-interactive
  box-shadow inset 0px 0px 0px 5px #6699CC