.thumbs
  list-style none
  padding 0
  text-align center
  margin-bottom 10em
  cf()
  a
    text-decoration none
    color flat-gray-4

.thumb
  box-sizing border-box
  padding .2em
  padding 10px
  col(1/4)
  border-radius 2px
  background rgba(255,255,255,.8)
  transition all 300ms
  &:hover
    background rgba(255,255,255,1)
    box-shadow 0 0 5px 1px rgba(0,0,0,.1)
    .view-link
      color flat-orange-3

.thumb-wrap
  width 80%
  height 140px
  position relative
  margin 0 auto
  opacity .7

  img
    display block
    position absolute
    tranform-style preserve-3d
    top 50%
    left 50%
    transform translate(-50%, -50%)


.tasks
  text-align center

  li
    display inline
    text-decoration none

    &:before
      content ''
      display inline-block
      vertical-align middle
      height 5px
      width 5px
      background flat-gray-2
      border-radius 500px
      margin 0 10px

    &:first-child
      &:before
        display none

.view-link
  color flat-orange-2
  text-align center
  margin-top 1em
  font-size 15px
  font-family open_sanssemibold

.client-list
  column-count 4
  column-gap 3%
  font-size 15px
  line-height 1.7

