.btn-primary
  color #ffffff
  background flat-blue-2
  padding 10px 20px
  border-radius 5px
  font-family header-font
  &:hover, &:active
    color #ffffff
    background darken(flat-blue-2, 10%)

  + .btn-primary
    margin-left 1em
