@import '../../global/styles/mixins';

.header {
  border-bottom: 1px solid var(--body-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lockup {
  position: relative;
}

.name {
  margin-bottom: 0;
}

.job-title {
  font-family: 'open-sans';
  font-weight: light;
  font-style: italic;
  position: absolute;
  bottom: -18px;
}

.nav {
  list-style-type: none;

  li {
    display: inline-block;
    margin-left: 2em;
  }

  a {
    display: block;
    text-decoration: none;
    position: relative;
    padding: 0 1em;

    &:hover {
      color: var(--white);

      &:before {
        @include angle(top, 5, 2);
      }
      &:after {
        @include angle(bottom, 5, 2);
      }
      text-decoration: line-through;
    }
  }
}
