.contact

  h2
    margin-bottom 0

  #line-email
    width 300px
    height 300px
    margin 0 auto

.contact-social-icons
  height 150px
  margin 3em 0
  cf()

  footer
    position relative

    .icon_circle
      stroke flat-blue-1
    .icon_shape
      stroke none
      fill flat-blue-1

    .social-line
      &:hover, &:active
        .icon_circle
          stroke flat-blue-2
        .icon_shape
          stroke none
          fill flat-blue-2
