//LAYOUT

html,
body,
main
  height 100%
  position relative

body
  font-family text-font
  font-size 14px
  background background-color url(/images/bg_pattern.jpg)
  color flat-gray-4

img
  max-width 100%
  max-height 100%

hr
  margin 2em 0
  height 1px
  border-style none
  background lighten(flat-gray-2, 50%)

p
  font-size 16px
  line-height 2

a
  color flat-orange-2
  text-decoration none
  transition all 200ms

  &:hover, $:active
    color flat-orange-3

.wrapper
  max-width 1400px
  margin 0 auto
  padding 0 15px
  position relative

  +above(768px)
    padding 0 40px

main
  z-index 1

.content
  background flat-clouds
  min-height 100%
  padding 30px 0
  position relative
  cf()

.plain-list
  list-style none
  margin 0
  padding 0

//Symbol
.symbol
  font-family symbol-font
  font-size 100px
  opacity .2
  color #fff
  letter-spacing -22px
  position absolute
  tranform-style preserve-3d
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 280px
  text-align center

  +above(768px)
    font-size 272px
    letter-spacing -62px


//CONTENT
h2
  font-family open_sansregular
  color flat-gray-3
  font-size 20px
  margin 0 0 2em
  text-align center

  +below(767px)
    padding-top 1.5em

  +above(768px)
    font-size 28px

  +above(900px)
    &:before, &:after
      content ''
      display inline-block
      vertical-align middle
      width 100px
      height 1px
      background lighten(flat-gray-2, 50%)
    &:before
      margin-right 25px
      transform rotate(-3deg)
    &:after
      margin-left 25px
      transform rotate(3deg)

h3
  text-align center
  margin 0
  color flat-gray-2


.close
  text-indent -200%
  display block
  position absolute
  right 40px

  //Triangle styles
  width 0
  height 0
  border-style solid
  border-width 10px 15px 0 15px
  border-color flat-gray-3 transparent transparent transparent
  opacity .8

  &:hover
    border-color #007bff transparent transparent transparent

  &:after
    display block
    content ''
    width 0
    height 0
    border-style solid
    border-width 10px 15px 0 15px
    border-color flat-clouds transparent transparent transparent
    position absolute
    top -13px
    left -15px
