//Animation
.view-animate
  position relative
  height 100%
  padding-top 180px
  +above(480px)
    padding-top 100px


.view-animate.ng-enter, .view-animate.ng-leave
  transition all 1s
  display block
  width 100%

  position absolute
  top 0
  left 0
  right 0
  bottom 0


//Primary views
.view-animate.ng-enter.enter-bottom
  transform translate3d(0,100%,0)

.view-animate.ng-enter.enter-bottom.ng-enter-active
  transform: translate3d(0,0%,0)

.view-animate.ng-leave.leave-bottom.ng-leave-active
  transform translate3d(0,100%,0)

//Home View
.view-animate.ng-enter.fade
  transition opacity 1s 500ms
  opacity 0

.view-animate.ng-enter.fade.ng-enter-active
  opacity 1

.view-animate.ng-leave.fade.ng-leave-active
  opacity 0

.work-animation
  background #000
