<a href="#/work" class="close">Close</a>
<h2>{{app.currentItem.client}}</h2>
<h3>{{app.currentItem.date}}</h3>
<a href="#/{{getNextWorkItem()}}" ng-show="getNextWorkItem()">Next</a>
<article class="work-content">
  <p>
    This project, for the Liberty Global company Telenet (code name: DAWN), was an extremly unique undertaking. DAWN is a single page app that drives the UI and UX for a new cable set top box being rolled out in multiple countries. My responsibilities included creating and styling all views utilizing dust.js templates and the Compass CSS authoring framework as well as implementing functionality with strict vanilla JavaScript. I used CSS3 animations to achieve smooth animation performance on an embedded device running QtWebKit. I also was in charge of managing i18n dictionaries and app wide translatable tags for multi-lingual support. I gained valuable on-site experience while working directly with clients in Mechelen, Belgium to rapidly implement changes and perfect UI animations.
  </p>
  <hr>
</article>
<section class="work-bg">
  <ul class="main-images plain-list">
    <li ng-repeat="image in app.currentItem.images">
      <img ng-src="{{image}}">
    </li>
  </ul>
</section>
<section class="work-content">
  <hr>
  <h3>Stack</h3>
  <ul class="tech-list plain-list">
    <li>HTML</li>
    <li>CSS3</li>
    <li>Scss</li>
    <li>Compass</li>
    <li>JavaScript</li>
    <li>Lo-Dash</li>
    <li>Dust.js</li>
    <li>Transifex</li>
  </ul>
  <hr>
</section>