<a href="#/work" class="close">Close</a>
<h2>{{app.currentItem.client}}</h2>
<h3>{{app.currentItem.date}}</h3>
<a href="#/{{getNextWorkItem()}}" ng-show="getNextWorkItem()">Next</a>
<a href="#/{{getPrevWorkItem()}}" ng-show="getPrevWorkItem()">Prev</a>

<article class="work-content">
  <h4 class="headline">Heads Above the Rest</h4>
  <p>
    Media Giraffes is an internet video company specializing in digital media and video production technology. This project was a redesign of their WordPress site. I wanted to clean it up and make it simple with easy navigation while still keeping their custom WordPress functionality. I also added a mobile version of their site using WordPress Mobile Edition.
  </p>
  <hr>
</article>
<section class="work-bg">
  <ul class="main-images plain-list">
    <li ng-repeat="image in app.currentItem.images">
      <img ng-src="{{image}}">
    </li>
  </ul>
</section>
<section class="work-content">
  <hr>
  <h3>Stack</h3>
  <ul class="tech-list plain-list">
    <li>Photoshop</li>
    <li>Illustrator</li>
    <li>HTML</li>
    <li>CSS3</li>
    <li>WordPress</li>
  </ul>
  <hr>
</section>