<a href="#/work" class="close">Close</a>
<h2>{{app.currentItem.client}}</h2>
<h3>{{app.currentItem.date}}</h3>
<article class="section">
<p>
  This project was a redesign of their current site. I worked closely with another designer to finalize the mock ups. I then handled all of the front-end development to get this site launched in a matter of weeks. This was also the first website that I had integrated SUSY into, which is an un-obtrusive grid for designers.
</p>
  <hr>
</article>
<section class="work-bg">
  <ul class="main-images plain-list">
    <li ng-repeat="image in app.currentItem.images">
      <img ng-src="{{image}}">
    </li>
  </ul>
</section>
<section class="section">
  <hr>
  <h3>Stack</h3>
  <ul class="tech-list plain-list">
    <li>Photoshop<li>
    <li>Illustrator</li>
    <li>HTML</li>
    <li>CSS3</li>
    <li>Sass</li>
    <li>Compass</li>
    <li>Susy</li>
    <li>ASP.NET</li>
  </ul>
  <hr>
</section>