<a href="#/work" class="close">Close</a>
<a href="http://travelerconnect.movitas.com/" target="_blank" class="view-site">View Site</a>
<h2>{{app.currentItem.client}}</h2>
<h3>{{app.currentItem.date}}</h3>
<article class="section">
  <h4 class="headline">Pack the app. Leave the hassles.</h4>
  <p>
    Traveler Connect is a website/app hybrid. It allows users to make calls out of the country for free over Wi-Fi as well as providing an endless amount of resources for local information, social media, and things to do. I designed Traveler Connect with a focus on friendly hospitality and usability. It's interface makes it easy for users to quickly find what is important to them on vacation.
  </p>
  <hr>
</article>
<section class="work-bg">
  <ul class="main-images plain-list">
    <li ng-repeat="image in app.currentItem.images">
      <img ng-src="{{image}}">
    </li>
  </ul>
</section>
<section class="section">
  <hr>
  <h3>Stack</h3>
  <ul class="tech-list plain-list">
    <li>Photoshop</li>
    <li>Illustrator</li>
    <li>HTML</li>
    <li>CSS3</li>
    <li>Sass</li>
    <li>Compass</li>
    <li>jQuery</li>
  </ul>
  <hr>
</section>