.profile-pic-wrap {
  padding: 4px;
  max-width: 200px;
  border: 2px solid rgba(255,255,255, .5);
  border-radius: 500px;
}

footer {
  .profile-pic-col {
    max-width: 200px;
    margin-right: calc(var(--rhythm) * 5);
  }
}

.profile-pic {
  border-radius: 500px;
  display: block;
}

.footer-line {
  display: flex;
  align-items: center;
  margin-bottom: var(--rhythm);
}

.footer-link {
  &:focus,
  &:hover {
    .svg-container {
      stroke: white;
    }
  }
}

.svg-container {
  margin-right: var(--rhythm);
  margin-top: var(--rhythm);
  display: inline-block;

  svg {
    position: relative;
    top: 2px;
  }

  &:focus,
  &:hover {
    color: white;
    fill: white;
    stroke: white;
  }
}

.subtitle {
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.contact-info {
  padding: 0;
}
