<div class="content">
  <div class="wrapper details">
    <a class="view-site" href="images/about/ashton_harris_resume_full.pdf" target="_blank">Download Resume</a>
    <a href="#/" class="close">Close</a>
    <h2>About Me</h2>

    <article class="work-content">
      <p>
        Hi there, I'm Ashton.
        <br>
        I live in Philadelphia, PA and have a passion for creating beautifully minimal, cutting-edge, responsive websites. I am constantly learning and striving to stay on top of new technologies and design trends in order to deliver the cleanest, most modern, and most functional sites possible.
      </p>
      <p>
        I also love skateboarding, snowboarding, food, IPAs, playing madden, and of course, my blue-nose pitbull <a href="http://www.facebook.com/pages/Jayda-Pup/140771079334266" target="_blank">Jayda</a>.
      </p>

    </article>

    <section class="resume">
      <ul class="main-images plain-list">
        <li>
          <img src="/images/about/resume1.jpg" alt="Resume Cover">
        </li>
        <li>
          <img src="/images/about/resume2.jpg" alt="Resume Details">
        </li>
      </ul>
    </section>
    
  </div>
</div>

