<div class="content blog">
  <div class="wrapper">

    <a href="#!/" class="close">Close</a>

    <h2>Ramblings</h2>
    <h3>A.K.A. Blog</h3>

    <a class="blog-post-link" href="#!/stylus_grid">
      <article class="blog-summary responsive-js">
        <div class="post-date">1-5-2015</div>

        <div class="article-inner">
          <h3 class="blog-title">
            A Simple Grid Using Stylus and Jeet
          </h3>
          <p>
            Create your own custom grid framework using the Stylus css preprocessor and the Jeet Grid System.
          </p>
        </div>

      </article>
    </a>

    <a class="blog-post-link" href="#!/responsive_js">
      <article class="blog-summary responsive-js">
        <div class="post-date">12-8-2014</div>

        <div class="article-inner">
          <h3 class="blog-title">
            Responsive Javascript!
          </h3>
          <p>
            Learn how to write JavaScript that responds to different screen sizes, resolutions, browser zooms, and browser font sizes.
          </p>
        </div>

      </article>
    </a>


    <article class="blog-summary">

      <div class="post-date">10-25-2014</div>

      <div class="article-inner">
        <h3>
          Welcome to the ramblings of a jack of all trades.
        </h3>
        <p>
          Thanks for stopping by.
        </p>
        <p>I hope that in the future you can learn something from the things I post.</p>
        <p>
          I have learned almost everything I know from the help of others and I hope that the things I have learned can help you as well. Please feel free to contact me directly if you have any questions or comments about any future posts.
        </p>
        <p class="signature">
          Hope I can help,<br>
          <a href="https://twitter.com/busypixels" target="_blank">
            -busyPixels
          </a>
        </p>
      </div>

    </article>

  </div>
</div>