<!-- <div ng-animate=" 'animate' "> -->
    <!-- Work it out -->
<!-- </div> -->
<div class="content">
  <div class="wrapper">

    <a href="#/" class="close">Close</a>

    <h3>Featured Work</h3>

    <ul class="thumbs" ng-controller="AppController as app">
      <li class="thumb {{item.class}}" ng-repeat="item in app.items">
        <a href="#/{{item.route}}">
          <div class="thumb-wrap">
            <img src="{{item.images.logo}}" alt="{{item.client}}">
          </div>
          <ul class="tasks plain-list">
            <li ng-repeat="task in item.tasks">{{task}}</li>
          </ul>
          <div class="view-link">View</div>
        </a>
      </li>
    </ul>

    <h3>Full Client List</h3>

    <ul class="client-list plain-list">
      <li>Allin Interactive Latin America</li>
      <li>Amstar</li>
      <li>Apple On the Go</li>
      <li>Apple Vacations</li>
      <li>Avaya</li>
      <li>Blue Mountain</li>
      <li><a href="#/breathless">Breathless</a></li>
      <li>Closest Therapy</li>
      <li>Dreams Resort and Spa</li>
      <li>First Key Creations</li>
      <li>Flamingo Beach Resort &amp; Spa</li>
      <li>Keating's River Grill</li>
      <li>KeyLime Cove</li>
      <li>Liberty Global</li>
      <li>Maritz</li>
      <li>Media Giraffes</li>
      <li>Mobile Monday</li>
      <li>Movitas</li>
      <li>Nintendo</li>
      <li>Nocturnal Skate Shop</li>
      <li>O'Malley's Pub'</li>
      <li>Pocono Mountains</li>
      <li>Psychic Source</li>
      <li>Quick Chek</li>
      <li>Sheraton</li>
      <li>Sports Core</li>
      <li>St. Petersburg Clearwater</li>
      <li>Telnet</li>
      <li>The Children's Journey</li>
      <li>The Closet Therapy</li>
      <li>The Shawnee Inn</li>
      <li>The Source</li>
      <li>Traveler Connect</li>
      <li>Saint Clare's Health System</li>
      <li>Secrets Resort and Spa</li>
      <li>Shawnee Mountain</li>
      <li>Wialan</li>
    </ul>

  </div>
</div>