<!-- <div ng-animate=" 'animate' "> -->
    <!-- Work it out -->
<!-- </div> -->
<div class="content">
  <div class="wrapper">

    <a href="#/" class="close">Close</a>

    <h2>Featured Work</h2>

    <ul class="thumbs" ng-controller="AppController as app">
      <li class="thumb {{item.class}}" ng-repeat="item in app.items">
        <a href="#/{{item.route}}">
          <div class="thumb-wrap">
            <img ng-src="{{item.logo}}" alt="{{item.client}}">
          </div>
          <ul class="tasks plain-list">
            <li ng-repeat="task in item.tasks">{{task}}</li>
          </ul>
          <div class="view-link">View</div>
        </a>
      </li>
    </ul>

    <h2>Full Client List</h2>

    <ul class="client-list plain-list">
      <li>Allin Interactive Latin America</li>
      <li>Amstar</li>
      <li>Apple On the Go</li>
      <li><a href="#">Apple Vacations</a></li>
      <li><a href="#">Avaya</a></li>
      <li>Blue Mountain</li>
      <li><a href="#/breathless">Breathless</a></li>
      <li>Closest Therapy</li>
      <li>Dreams Resort and Spa</li>
      <li><a href="#">First Key Creations</a></li>
      <li>Flamingo Beach Resort &amp; Spa</li>
      <li>Keating's River Grill</li>
      <li><a href="#">KeyLime Cove</a></li>
      <li><a href="#/liberty_global">Liberty Global</a></li>
      <li>Maritz</li>
      <li><a href="#">Media Giraffes</a></li>
      <li>Mobile Monday</li>
      <li><a href="#">Movitas</a></li>
      <li>Nintendo</li>
      <li>Nocturnal Skate Shop</li>
      <li>O'Malley's Pub'</li>
      <li>Pocono Mountains</li>
      <li>Psychic Source</li>
      <li>Quick Chek</li>
      <li>Sheraton</li>
      <li><a href="#">Sports Core</a></li>
      <li>St. Petersburg Clearwater</li>
      <li>Telnet</li>
      <li><a href="#">The Children's Journey</a></li>
      <li>The Closet Therapy</li>
      <li>The Shawnee Inn</li>
      <li>The Source</li>
      <li><a href="#">Traveler Connect</a></li>
      <li>Saint Clare's Health System</li>
      <li>Secrets Resort and Spa</li>
      <li>Shawnee Mountain</li>
      <li>Wialan</li>
    </ul>

  </div>
</div>