//LAYOUT
body
  font-family text-font
  font-size 14px
  background background-color

hr
  margin 0
  color flat-gray-2

.wrapper
  max-width 1200px
  margin 0 auto

.content
  padding 1em

//HEADER
.header
  background rgba(255,255,255,0.6)
  padding 1em 1em 0
  text-align center
  clearfix()

//LOGO
.icon
  width 60px
  height 60px
  background-color accent-1
  color #fff
  border-radius 60px
  font-size 67px
  font-weight 100
  font-style italic
  line-height 0.7
  text-indent 11px
  display inline-block
  @media screen and (min-width: 1200px)
    float left

.logo
  margin: 0 0 1em
  @media screen and (min-width: 1200px)
    margin 0
    float left
  a
    color light-text
    text-decoration none
    font-weight 100
    font-style italic

.name
  display block
  white-space: nowrap
  @media screen and (min-width: 1200px)
    margin-top 23px

//Nav
menu
  padding 0
  position relative
  @media screen and (min-width: 1200px)
    // position relative
    float right
.nav
  padding 0
  li
    display inline-block
    margin-right 1em
    text-align center
    &.active
      &:before
        position absolute
        width 8px
        height 8px
        background accent-2
        content " "
        border-radius 8px
        margin-left -4px
        top -8px
        @media screen and (min-width: 1200px)
          top 6px
      a
        text-align center
        font-weight 500
        color accent-2
  a
    display block
    color light-text
    text-decoration none
    font-weight 200
    transition color 300ms
    &:hover
      color accent-2

//MAIN IMAGE
h2
  margin 0
  color #fff
  text-align right
  padding 0.5em
  position absolute
  bottom 0
  right 0
  @media screen and (min-width: 1200px)
    font-size 48px



.image-area
  background flat-blue-4
  margin-top -1px

.main-image
  background url('../images/fdr_blur.jpg') 5% 0
  position relative
  height 160px
  width 100%
  background-size cover
  @media screen and (min-width: 1200px)
    height 420px
    background linear-gradient(left, rgba(44, 62, 80, 1), 10% rgba(44, 62, 80, 0)), linear-gradient(right, rgba(44, 62, 80, 1), 10% rgba(44, 62, 80, 0)), url('../images/fdr_blur.jpg')

//CONTENT
h3
  font-family header-font
  color accent-2
  font-size 28px
  margin 0 0 10px

