//LAYOUT
html,
body,
main
  height 100%
  position relative

body
  font-family text-font
  font-size 14px
  background background-color url(/images/bg_pattern.jpg)

hr
  margin 0
  color flat-gray-2

.wrapper
  max-width 1400px
  margin 0 auto
  padding 0 15px
  +above(768px)
    padding 0 40px

.content
  background #fff
  height 100%

//HEADER

.header
  padding-top 15px
  clearfix()
  +below(479px)
    text-align center
  +above(768px)
    padding-top 2em

//LOGO
.logo
  margin 0 0 1em
  opacity .9
  font-family logo-font
  &:hover
    opacity 1
  @media screen and (min-width: 480px)
    margin 0
    float left
  a
    color light-text
    text-decoration none
    font-size 36px

.tag-line
  display block
  font-family header-font
  font-size 10px
  opacity .6
  text-transform uppercase
  margin-top -7px
  +above(768px)
    font-size 14px

//Nav
menu
  padding 0
  margin 0
  position relative
  @media screen and (min-width: 480px)
    float right
.nav
  text-align center
  padding 0
  font-family header-font
  margin 0
  li
    display inline-block
    margin-left 1em
    text-align center
    &.active
      a
        text-align center
        opacity 1
  a
    display block
    color light-text
    text-decoration none
    font-weight 200
    transition color 300ms
    opacity .6
    &:hover
      opacity 1


//Symbol
.symbol
  font-family symbol-font
  font-size 100px
  opacity .2
  color #fff
  letter-spacing -22px
  position absolute
  tranform-style preserve-3d
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 280px
  text-align center
  +above(768px)
    font-size 272px
    letter-spacing -22px



.image-area
  background flat-blue-4
  margin-top -1px

.main-image
  background url('../../images/fdr_blur.jpg') 5% 0
  position relative
  height 160px
  width 100%
  background-size cover
  @media screen and (min-width: 768px)
    height 420px
    background linear-gradient(left, rgba(44, 62, 80, 1), 10% rgba(44, 62, 80, 0)), linear-gradient(right, rgba(44, 62, 80, 1), 10% rgba(44, 62, 80, 0)), url('../../images/fdr_blur.jpg')

//CONTENT
h3
  font-family header-font
  color accent-2
  font-size 28px
  margin 0 0 10px



//Animation

.view-animate
  position relative
  transition all 100s
  height 100%


.view-animate.ng-enter, .view-animate.ng-leave
  transition all 1s
  display block
  width 100%

  position absolute
  top 0
  left 0
  right 0
  bottom 0
  padding 10px


.view-animate.ng-enter.enter-bottom
  transform translate3d(0,100%,0)

.view-animate.ng-enter.enter-bottom.ng-enter-active
  transform: translate3d(0,0%,0)

.view-animate.ng-leave.leave-bottom.ng-leave-active
  transform translate3d(0,100%,0)

//FOOTER
footer
  position absolute
  width 100%
  text-align center
  bottom 15px


.footer
  position relative
  z-index 1
  margin-left: -2px

