.thumbs
  list-style none
  padding 0

.thumb
  // border 1px solid flat-gray-2
  box-sizing border-box
  padding .2em
  max-width 380px
  float left
  margin-right
  // &:nth-child(even)
  //   margin: 0 40px
  @media screen and (min-width: 1200px)
    // width 30%
    // margin-left 

//BREATHLESS
.breathless
  background #2a2d36 url('../../images/breathless/thumb_bg.png') repeat 0 0