@import 'nib'

@import '_normalize'

.logo
  a
    color #666
    text-decoration none

.full-name
  opacity 0

.last-name
  transition all 300ms
  transform translate3d(-97px,0,0)
  position absolute
